@page "/imagestreamingconsumer"
@inherits ImageStreamingConsumerDataModel

<h3>Image Streaming Consumer</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="https://localhost:44363/imagestreaming" />
        </div>
    </div>
</div>