@page "/imagestreamingproducer"
@inherits ImageStreamingProducerDataModel

<h3>Image Streaming Producer</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="/imagedownload" />
        </div>
    </div>
</div>