@page "/textstreamingproducer"
@inherits TextStreamingProducerDataModel

<h3>Text Streaming Producer</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" @onclick="OnSendMessages">Send Messages</button>
        </div>
    </div>
</div>